.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  width: 100%;
}

.svgContainer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.svgContainer svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
