.navContainer {
  position: relative;
  cursor: pointer;
  margin-bottom: 2em;
  align-self: flex-end;
}

.profilePhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
}

.profilePhoto img {
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 50px; /* Position it below the profile photo */
  right: 0;
  width: 150px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.dropdown a:hover {
  background-color: #f0f0f0;
}
